#email{
    background-color: transparent;
    border: none;
}
  
#password{
    background-color: transparent;
    border: none;
}

#buttonLogin{
    background-color: #57bbbc;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 324px;
    height: 52.8px;
    border-radius: 3.6px;
    margin-top: 57px;

}

#emailForm{
    display: flex;
    text-align: center;
    border-bottom: 0.7px solid #383743 ;
    margin-bottom: 37.5px;
}

#passwordForm{
    display: flex;
    text-align: center;
    border-bottom: 0.7px solid #383743 ;
}

.App{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-color: #ebe9d7;
}

.divLogo{
    margin-bottom: 67px;
}

.divContent{
    width: 360px;
    text-align: center;
}