.cardBig{
    box-shadow: 1px 1px 1px 1px rgb(228,228,228);
    padding: 16px;
    background: rgb(250,250,250);
    margin-top: 20px;
    width: 70vw;
    margin-bottom: 20px;
}
.cardBig__field{
    display: flex;
    flex-direction: column;
}

.imgEnterpriseListBig{
    width: 80%;
    
    display: flex;
    align-self: center;
    
}
.cardBig__field--text{
    display: flex;
    justify-content: center;
    align-self: center;
    font-family: SourceSansPro;
    width: 80%;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: -0.38px;
    text-align: left;
}